<?xml version="1.0" encoding="UTF-8"?>
<launch>
  
  <!-- Launch Gazebo with warehouse world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_extra_worlds)/worlds/warehouse_environment.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Robot Description -->
  <param name="robot_description" command="cat $(find my_rb1_description)/urdf/my_rb1_robot.urdf"/>
  
  <!-- Robot State Publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Spawn RB1 Robot in Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -model rb1_robot -param robot_description -x -0.3 -y -1.3 -z 0.15"/>

</launch>